@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* font-family: 'Roboto', sans-serif; */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --tertiary: 24.6 95% 53.1%;
    --tertiary-foreground: 60 9.1% 97.8%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  html {
    scroll-behavior: smooth;
  }

  .degradedBlue {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 5px 0;
  }

  .swiper-pagination-bullet {
    background: #fff !important;
  }

  .swiper-pagination-bullet-active {
    background: rgba(0, 178, 218, 0.6) !important;
  }

  .slider-horizontal {
    display: flex;
    animation: swipe 5000ms linear infinite backwards;
  }

  @keyframes swipe {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(-100%);
    }
  }

  .theme-blue {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --tertiary: 38 100% 50%;
    --tertiary-foreground: 60 9.1% 97.8%;

    --secondarybutton: 38 100% 50%;
    --secondarybutton-foreground: 222.2 47.4% 11.2%;

    --counterdiv: 240 2% 23%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 221.2 83.2% 53.3%;

    --radius: ;
  }

  .dark .theme-blue {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --tertiary: 24.6 95% 53.1%;
    --tertiary-foreground: 60 9.1% 97.8%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 224.3 76.3% 48%;
  }

  /* Default styles for smaller screens */
  .ProseMirror {
    margin-top: 4px;
    padding: 10px 4px;
    min-height: 250px;
    max-height: 450px;
    border: 1px solid #e8e8e8;
  }

  /* Styles for medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .ProseMirror {
      height: 300px;
      padding: 10px 6px;
      /* Slightly larger padding for medium screens */
    }
  }

  /* Styles for large devices (desktops, 1024px and up) */
  @media (min-width: 1027px) {
    .ProseMirror {
      height: 400px;
      padding: 10px 8px;
      /* Original padding for large screens */
    }
  }

  .ProseMirror-focused {
    border-color: #000;
    outline: none;
    ring-offset-width: 2px;
  }

  .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}
.filler-word {
  color: #888;
  font-style: italic;
}
